<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Form.io Form Builder</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bootswatch@3.3.7/yeti/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="dist/ngFormBuilder-full.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
</head>
<body ng-app="formBuilder">
<!-- BROWSE HAPPY BEGINS HERE -->
<style>
  .browsehappy {
    display:block;
    width:100%;
    height:100px;
    background-color:#f2dede;
    margin: 0 0 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 1.4;
    color: #333;
    padding-top: 15px;
    vertical-align:middle;
  }
  .browsehappy span {
    vertical-align:middle;
    margin:20px 20px 20px 20px;
    background:url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
    height:64px;
    width:64px;
    display:inline-block;
  }

  .formbuilder {
    height: 600px;
  }

  .formcomponents {
    width: 30%;
  }

  .formarea {
    width: 70%;
  }

  .component-settings .nav-link {
    font-size: 0.6em;
  }

  .jsonviewer {
    max-height: 600px;
    overflow: scroll;
  }

  .form-type-select {
    display: inline-block;
    width: 100px;
    height: 28px;
    vertical-align: top;
  }
</style>
<!--[if IE 6]><p class="browsehappy"><img />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 7]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 8]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 9]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!-- BROWSE HAPPY ENDS HERE -->

<div class="page-content" ng-app="formioApp">
  <div class="container-fluid">
    <div>
      <div class="row">
        
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well" style="background-color: #fdfdfd;">
          <form-builder form="form"></form-builder>
        </div>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center text-muted">as JSON Schema</h3>
          <pre class="bg-info"><h4><code>$rootScope.form = </code></h4></pre>
          <div class="well jsonviewer">
            <json-explorer data="form" collapsed="jsonCollapsed"></json-explorer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<script src="https://unpkg.com/signature_pad@1.5.3/signature_pad.min.js"></script>
<script src="dist/ngFormBuilder-full.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdn.rawgit.com/odra/ng-json-explorer/master/dist/angular-json-explorer.min.js"></script>
<script type="text/javascript">
  angular
    .module("formBuilder", ["ui.bootstrap", "ui.select", "formio", "ngFormBuilder", "ngJsonExplorer"])
    .run(run).config(config);


    run.$inject = ['$rootScope', 'formioComponents', '$timeout', '$templateCache', 'FormioUtils'];
    config.$inject = ['formioComponentsProvider'];


  function config(formioComponentsProvider){
      formioComponentsProvider.register('tool', {
        title: 'tool',
                template: 'formio/components/tool.html',
                group: 'advanced',
                settings: {

                    /**
                     * my custom definition
                     */
                    actions: [
                      {
                        name: 'standard',
                        title: 'Standard'
                      },
                      {
                        name: 'custom',
                        title: 'Custom'
                      },
                    ],

                    standardActions: [
                      {
                        name: 'show',
                        title: 'Show'
                      },
                      {
                        name: 'hide',
                        title: 'Hide'
                      },
                      {
                        name: 'toggleShowHide',
                        title: 'Toggle Show Hide'
                      },
                      {
                        name: 'next',
                        title: 'Next'
                      },
                      {
                        name: 'previous',
                        title: 'Previous'
                      },
                      {
                        name: 'redirect',
                        title: 'Redirect'
                      },
                      {
                        name: 'submit',
                        title: 'Submit'
                      },
                    ],

                    submitSucess: false,
                    submitFailed: false,
                    submitRedirect: false,



                    action:'',
                    event:'',
                    target: '',

                    /**
                     *end of my custom definition
                     */

                    
                    input: false,
                    captchaImagePreview: ''
                },
                onEdit: ['$scope', function($scope) {
                  $scope.toggle = function(index) {
                    console.log(index);
                  };
                }],
                viewTemplate: 'formio/componentsView/tool.html',
                fbtemplate: 'formio/formbuilder/tool.html',
                icon: 'fa fa-code',
                views: [
                    {
                        name: 'Display',
                        template: 'formio/components/tool/display.html'
                    },
                    {
                        name: 'API',
                        template: 'formio/components/common/api.html'
                    },

                    // my custom definition
                    {
                        name: 'Action',
                        template: 'formio/components/tool/action.html'
                    }
                    // end of my custom definition
                ]
      });


      /*formioComponentsProvider.register('carousel', {
        title: 'Carousel',
                template: 'formio/components/carousel.html',
                group: 'advanced',
                settings: {
                    input: false,
                    resources: [
                      {
                        name: 'localDefinition',
                        title: 'Local Definition'
                      },
                      {
                        name: 'salesforce',
                        title: 'Salesforce'
                      },
                    ],
                    resource: '',
                    resourceType: [
                      {
                        name: 'image',
                        title: 'Image'
                      },
                      {
                        name: 'video',
                        title: 'Video'
                      },
                    ],
                    videoResourceType: [
                      {
                        name: 'youtube',
                        title: 'Youtube'
                      },
                      {
                        name: 'vimeo',
                        title: 'Vimeo'
                      },
                      {
                        name: 'vidyard',
                        title: 'Vidyard'
                      },
                      {
                        name: 'brainshark',
                        title: 'Brainshark'
                      },
                    ],
                    localDefinitions: [
                    ],
                    salesforce: {
                      carouselObject: '',
                      carouselTypeField: '',
                      carouselVideoTypeField: '',
                      carouselVideoIdField: ''
                    }
                },
                onEdit: ['$scope', function($scope) {
                  $scope.removeColumn = function(index) {
                    if($scope.component.resource === 'localDefinition'){
                      $scope.component.localDefinitions.splice(index, 1);
                    }
                  };
                  $scope.addColumn = function() {
                    if($scope.component.resource === 'localDefinition'){
                      $scope.component.localDefinitions.push({});  
                    }
                  };
                }],
                viewTemplate: 'formio/componentsView/carousel.html',
                fbtemplate: 'formio/formbuilder/carousel.html',
                icon: 'fa fa-code',
                views: [
                    {
                        name: 'Display',
                        template: 'formio/components/carousel/display.html'
                    },
                    {
                        name: 'API',
                        template: 'formio/components/common/api.html'
                    }
                ]
      });*/
  }

  function run($rootScope, formioComponents, $timeout, $templateCache, FormioUtils) {
        console.log(formioComponents);


        $rootScope.displays = [{
          name: 'form',
          title: 'Form'
        }, {
          name: 'wizard',
          title: 'Wizard'
        }];
        $rootScope.form = {
          components: [],
          display: 'form'
        };

        $rootScope.renderForm = true;
        $rootScope.$on('formUpdate', function(event, form) {
          angular.merge($rootScope.form, form);
          $rootScope.renderForm = false;
          setTimeout(function() {
            $rootScope.renderForm = true;
          }, 10);
        });

        var originalComps = _.cloneDeep($rootScope.form.components);
        $rootScope.jsonCollapsed = true;
        $timeout(function() {
          $rootScope.jsonCollapsed = false;
        }, 200);
        var currentDisplay = 'form';
        $rootScope.$watch('form.display', function(display) {
          if (display && (display !== currentDisplay)) {
            currentDisplay = display;
            if (display === 'form') {
              $rootScope.form.components = originalComps;
            } else {
              $rootScope.form.components = [{
                type: 'panel',
                input: false,
                title: 'Page 1',
                theme: 'default',
                components: originalComps
              }];
            }
          }
        });



        $templateCache.put('formio/components/tool.html',
                               '<p>test</p>'
                              );
            
            $templateCache.put('formio/componentsView/tool.html',
                               '<p>test</p>'
                              );
            
            $templateCache.put('formio/formbuilder/tool.html',
                               '<p>test</p>'
                              );
            
            $templateCache.put('formio/components/tool/display.html',
                               '<ng-form>' +
                               '<form-builder-option property="siteKey"></form-builder-option>' +
                               '<form-builder-option property="language"></form-builder-option>' +
                               '<form-builder-option property="customClass"></form-builder-option>' +
                               '</ng-form>'
                              );


            $templateCache.put('formio/components/tool/action.html',
                               '<ng-form>' +
                               '<div class="form-group">' +
                               '<label for="action" form-builder-tooltip="This is the action to be performed by this button.">{{\'Action\' | formioTranslate}}</label>' +
                                '<select class="form-control" id="action" name="action" ng-options="action.name as action.title | formioTranslate for action in component.actions" ng-model="component.action"></select>' +
                               '</div>' +

                                // if standard action
                                '<div class="form-group" ng-if="component.action === \'standard\'">' +
                                '<label for="standard" form-builder-tooltip="This is the standard action.">{{\'Standard Action\' | formioTranslate}}</label>' +
                                '<select class="form-control" id="standard" name="standard" ng-options="action.name as action.title | formioTranslate for action in component.standardActions" ng-model="component.event"></select>' +
                                '</div>' +

                                '<div class="form-group" ng-if="component.action === \'standard\'">' +
                                '  <label for="target" form-builder-tooltip="The target action">{{\'Action Target\' | formioTranslate}}</label>' +
                                '  <input type="text" class="form-control" id="target" name="target" ng-model="component.target" placeholder="target" />' +
                                '</div>' +


                                '<div class="form-group" ng-if="component.event === \'submit\'">' +
                                '  <label for="target" form-builder-tooltip="The target action">{{\'Submit Callback\' | formioTranslate}}</label>' +
                                '  <div>' +
                                    '<md-checkbox ng-click="toggle(0)">Success Callback</md-checkbox>'+
                                    '<md-checkbox ng-click="toggle(1)">Failed Callback</md-checkbox>'+
                                    '<input type="checkbox" ng-click="toggle(2)"><span>Redirect</span></input>'+
                                '  </div>' +
                                '</div>' +


                                // if custom action
                                '<div class="form-group" ng-if="component.action === \'custom\'">' +
                                '  <label for="custom" form-builder-tooltip="The custom logic to evaluate when the button is clicked.">{{\'Button Custom Logic\' | formioTranslate}}</label>' +
                                '  <formio-script-editor rows="10" id="custom" name="custom" ng-model="component.custom" placeholder="/*** Example Code ***/\ndata[\'mykey\'] = data[\'anotherKey\'];"></formio-script-editor>' +
                                '</div>' +
                               '</ng-form>'
                              );




            /*$templateCache.put('formio/components/carousel.html',
                               '<p>carousel components</p>'
                              );
            
            $templateCache.put('formio/componentsView/carousel.html',
                               '<p>carousel componentsView</p>'
                              );
            
            $templateCache.put('formio/formbuilder/carousel.html',
                               '<p>carousel formbuilder</p>'
                              );
            
            $templateCache.put('formio/components/carousel/display.html',
                               '<ng-form>' +
                               '  <div class="form-group">' +
                               '    <label for="resource" form-builder-tooltip="Resource of this carousel">'+
                               '      {{\'Resource\' | formioTranslate}}'+
                               '    </label>' +
                               '    <select class="form-control" id="resource" name="resource" ng-options="resource.name as resource.title | formioTranslate for resource in component.resources" ng-model="component.resource"></select>' +
                               '  </div>' +
                               '  <div class="form-group" ng-if="component.resource === \'localDefinition\'">' +
                               '    <label form-builder-tooltip="The width, offset, push and pull settings for the columns">{{\'Dependent Field\' | formioTranslate}}</label>' +
                               '      <table class="table table-condensed">' +
                               '        <thead>' +
                               '          <tr>' +
                               '            <th class="col-xs-4">{{\'Caption\' | formioTranslate}}</th>' +
                               '            <th class="col-xs-3">{{\'Type\' | formioTranslate}}</th>' +
                               '            <th class="col-xs-4">{{\'Value\' | formioTranslate}}</th>' +
                               '            <th class="col-xs-1"></th>' +
                               '          </tr>' +
                               '        </thead>' +
                               '        <tbody>' +
                               '          <tr ng-repeat="row in component.localDefinitions">' +
                               '            <td class="col-xs-4"><input type="text" class="form-control" ng-model="row.caption"/></td>' +
                               '            <td class="col-xs-3"><select class="form-control" ng-options="opp.name as opp.title for opp in component.resourceType" ng-model="row.type"></select></td>' +
                               '            <td class="col-xs-4">'+
                               '              <input type="text" class="form-control" ng-if="row.type === \'image\'" ng-model="row.imageUrl" placeholder="Image url"/>'+
                               '              <div ng-if="row.type === \'video\'">'+
                               '                <select class="form-control" ng-options="vt.name as vt.title | formioTranslate for vt in component.videoResourceType" ng-model="row.videoType"></select>'+
                               '                <input type="text" class="form-control" ng-model="row.videoId" placeholder="Video ID"/>'+
                               '              </div>'+
                               '            </td>' +
                               '            <td class="col-xs-1"><button type="button" class="btn btn-danger btn-xs" ng-click="removeColumn($index)" tabindex="-1"><span class="glyphicon glyphicon-remove-circle"></span></button></td>' +
                               '          </tr>' +
                               '        </tbody>' +
                               '      </table>' +
                               '    <button type="button" class="btn btn-default" ng-click="addColumn()">{{\'Add Resource\' | formioTranslate}}</button>' +
                               '  </div>'+
                               '  <div class="form-group" ng-if="component.resource === \'salesforce\'">' +
                               '    <label for="carouselObject" form-builder-tooltip="The child object related to this object which will save the carousel information">{{\'Carousel Object\' | formioTranslate}}</label>' +
                               '    <input type="text" class="form-control" id="carouselObject" name="carouselObject" ng-model="component.salesforce.carouselObject" placeholder="Carousel Object" />' +
                               '  </div>' +
                               '  <div class="form-group" ng-if="component.resource === \'salesforce\'">' +
                               '    <label for="carouselTypeField" form-builder-tooltip="The field which will save carousel type information">{{\'Carousel Type Field\' | formioTranslate}}</label>' +
                               '    <input type="text" class="form-control" id="carouselTypeField" name="carouselTypeField" ng-model="component.salesforce.carouselTypeField" placeholder="Carousel Type Field" />' +
                               '  </div>' +
                               '  <div class="form-group" ng-if="component.resource === \'salesforce\'">' +
                               '    <label for="carouselVideoTypeField" form-builder-tooltip="The field which will save carousel video type information">{{\'Carousel Video Type Field\' | formioTranslate}}</label>' +
                               '    <input type="text" class="form-control" id="carouselVideoTypeField" name="carouselVideoTypeField" ng-model="component.salesforce.carouselVideoTypeField" placeholder="Carousel Video Type Field" />' +
                               '  </div>' +
                               '  <div class="form-group" ng-if="component.resource === \'salesforce\'">' +
                               '    <label for="carouselVideoIdField" form-builder-tooltip="The field which will save carousel video id information">{{\'Carousel Video Id Field\' | formioTranslate}}</label>' +
                               '    <input type="text" class="form-control" id="carouselVideoIdField" name="carouselVideoIdField" ng-model="component.salesforce.carouselVideoIdField" placeholder="Carousel Video Id Field" />' +
                               '  </div>' +
                               '</ng-form>'
                              );*/
        
  }


      
</script>
</body>
</html>
