.THIS {
    

}
.THIS.hidden{
    display: none;
    padding-bottom: 25px;
}

.THIS.unhidden{
    display: block;
}

.THIS.radioButtonForm{
    border-style: solid;
    border-radius: 10px;
    border-color: #c9d2e0;
    width:600px;
}


/*.THIS.slds-show {
    border-radius: 10px;
    width:600px;
  	background-color: #f7f7d9;

}*/

.THIS.background{
    border-radius: 10px;
    width:600px;
  	background-color: #f7f7d9;
}