.THIS {
    

}

.THIS.radioButtonForm{
    border-style: solid;
    border-radius: 10px;
    border-color: #c9d2e0;
    width:600px;
}


.THIS.backgroundcolor {
    border-radius: 10px;
    width:600px;
	height:100px;
  	background-color: #f7f7d9;

}