.THIS .label-active .uiInputDate .datePicker-openIcon {
	position: absolute;
    left: 80%;
    top: 50%;
}

.THIS .label-inactive .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 90%;
    top: 25%;
}

.THIS .uiInputDate{
    max-width: 325px;
    min-width: 110px;
}

.THIS .show-tooltip{
    display: inline-block;
}

.THIS .hide-tooltip{
    display: none;
}