.THIS .show-tooltip{
    display: inline-block;
}

.THIS .hide-tooltip{
    display: none;
}

.THIS .label-top{
    display: block;
}

.THIS .label-left{
    display: inline-block;
}

.THIS .label-right{
    display: inline-block;
}